body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}


/*Top of Page*/
header {
    width: 100%;
    height: 100%;
    color: white;
    background-image:linear-gradient(#688ff4,#ea00d9);

}

.headerContainer {
    margin: 20px;
}

nav{
    border-bottom:1px solid black;
}

nav li{
    font-weight: bold;
}

/*Links*/

a{
    color:black;
    text-decoration: none;
}



/*Cards*/
.card{
    height:400px;
    width:100%;
    transition: transform 0.3s;
    border:1px solid black;
}

.card-body{
    height:200px;
    width:100%;
}
.card img {
    height:200px;
    object-fit: cover; 
}

.card:hover{
    transform:translatey(-5px);
}

.card:hover .card-body{
    width:100%;
    background-color: #688ff4;
    color:whitesmoke;
}

.card .card-body{
    transition:0.3s;
}


/*Carousel*/
.carousel {
    height: 600px; 
    width: 100%;
}

.carousel-item img {
    height: 600px; 
    width: 100%;
    object-fit: cover; 
}


/*Footer*/

footer p {
    color: whitesmoke;
}

footer h6 {
    color:whitesmoke;
}

footer{
    height:100%;
    width:100%;
    padding: 10px;
    background-color: black;
}




